# Ignore node_modules just to be safe (EAS doesn't need them)
node_modules
npm-debug.log
yarn-error.log

# Ignore build outputs and temporary files
.expo
web-build
dist
build
.gradle
.idea
*.iml

# macOS/OS-specific junk
.DS_Store
Thumbs.db

# Optional: ignore assets you don’t want packaged
*.mp4
*.psd
*.zip
